body {
    display: flex;
    justify-content: center;
    padding: 100px;
}
.head {
    color: brown;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    
}
.input {
    border: 1px solid blue;
    width: 180px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    margin: 20px;
}
.button-container {
    display: flex;
    justify-content:space-around;
}
.button {
    background: #62C454;
    border-radius: 5px;
    width: 85px;
    height: 30px;
    color:white;
    font-size: 15px;
    text-align: center;
}
.button:disabled{
    opacity: 60%;
}
.stop {
    background: red;
}