html, body {
    height: 100%;
}
body {
    display: flex;
    background-image: url(./10.png);
    
}
.left_side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_side {
    overflow: auto;
    flex: 5;
    margin-left: 5px;
    padding-left: 10px;;
    margin-right: 40px;
}
p {
    text-align: justify;
}
.fix {   
    position: fixed; 
    padding: 10px; 
    background: white;
    border: 1px solid black;
    margin: 5px;
}
.textinfix {
    text-indent: 3px;
}
