html, body {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 545px;
    height: 138px;
    margin-top: 12px;
    padding: 8px 7px;
    box-sizing: border-box;
}
.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 30px;
    flex: 1;
    width: 0;
    padding: 7px 17px;
}
.rightSide {
    width: 137px;
    height: 93px; 
    border: 1px dashed red;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

}
.header {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 17px;
}
.red {
    color:red;
    font-weight: 700;
}
.text {
    font-size: 22px;
    white-space: nowrap;
    vertical-align: middle;
}
.number {
    font-size: 44px;
    letter-spacing: 7px;
}
.alarm {
    display: inline-block;
    background: url(./17.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 16px;
    vertical-align: middle;
    width: 37px;
    height: 37px;
}
