html, body {
    height: 100%;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px; 
    box-sizing: border-box;
    width: 298px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
a {
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* font-stretch: extra-condensed; */
    /* letter-spacing: -3px; */
    color: black;
    display: inline-block; /* это я прогуглила */
    font-size: 64px;
    transform: scale(.7, 1);
}
.logo {
}

.logo::first-letter {
    color: red;
    font-size: 50px;
    font-size: 120%;
}
.number {
    color: #78797E;
    width: 30px;
    height: 35px;
    font-size: 20px;
    background-color: #EDECED;
    border: 1px solid lightgrey;
    border-radius: 20%;
    position: absolute;
    right: -14px;
    display: flex;
    justify-content: center;
    align-self: center;
}
.six {
    margin-top: 5px;
}