body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    background-color: #F2F2F2;
    box-sizing: border-box;
    width: 913px;
    height: 280px;
    display: flex;
    flex-direction: row;
    padding: 15px;
   
}
.image {
    background-image: url(./20.png);
    background-repeat:  no-repeat;
    background-size: contain;
    width: 170px;
    height: 250px;
}
a {
    text-decoration: none;
}
.right-side {
    display: flex;
    flex-direction: column;
}
.table {
    box-sizing: border-box;
    height: 61px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}
.table-header {
    box-sizing: border-box;
    margin: 33px 0px 0px 28px;
    padding: 5px 0px 0px 20px;
    width: 368px;
    font-size: 40px;
    background-color: #4F76B5;
    text-align: justify;
    display: flex;
    align-content: center;
}
.table-header::after {
    content: '';
    height: 10px;
    background-color: #4F76B5;
    width: 320px;
    display: block;
    position: absolute;
    top:50%;
    left: 365px; 

}
.table-list {
    padding: 7px 10px 0px 10px;
    width: 413px;
    font-size: 19px;
    background-color: #C6291C;
    text-align:center;
    margin: 67px 0px 0px 127px;
}
.table-list::after {
    content: '';
    height: 10px;
    background-color: #C6291C;
    width: 175px;
    display: block;
    position: absolute;
    top:50%;
    left: 412px; 
}
/* .line {
    position: absolute;
    top: 30px;
} */
/* .red {
    background-color: #C6291C;
    width: 178px;
    right: -178px;
} */
/* .blue {
    background-color: #4F76B5;
    width: 320px;
    right: -320px;
} */