body {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    width: 800px;
    border-left: 1px solid #E8D7A8;
    border-right: 1px solid #E8D7A8;
    padding: 17px;
}
.header-mixin {
    font-weight: bold;
    box-sizing: border-box;
    padding: 3px;
    height: 31px;
}
.page-header {
    background-color: #FBF8E6;
    border-top: 1px solid #E8D7A8;
    padding-top: 7px;
    position: relative;
}
.page-header::before {
    content: '';
    display: block;
    height: 5px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.table-header {
    color: white;
    background-color: #F29C42;
    border-top: 2px solid #E8D7A8;
    display: flex;
    flex-direction: row;
}
:root {
    --first-column-width: 147px;
    --second-column-width: 490px;
}
.table-header-cell-left {
    width: var(--first-column-width);
}
.table-header-cell-middle {
    width: var(--second-column-width);
}
.lecture {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #E8D7A8;
    padding: 5px;
}
.cell-left {
    box-sizing: border-box;
    width: var(--first-column-width);
}
.weight {
    margin-top: 7px;
    font-weight: 700;
}
.cell-middle {
    width: var(--second-column-width);
    padding-right: 5px;
    line-height: 1.5;
}
a {
    font-weight: bold;
    color: #478FC4;
}
.last {
    border-bottom: 1px solid #E8D7A8;
}