body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    width: 900px;
    display: flex;
    flex-direction: column;
}
.menu {
    padding-left: 20px;
    height: 48px;
    background-color: #444444;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    display: flex;
    flex-direction: row;
}

a {
    color: white;
    text-decoration: none;
}
.item {
    width: 153px;
    display: flex;
    justify-content: center;
    align-items: center;
}
[data-item="main"] {
    background-color: #EF8A34;
}
[data-item="math"] {
    background-color: red;
}
[data-item="physics"] {
    background-color: #992DF5;
}
[data-item="chemistry"] {
    background-color: #61A6ED;
}
[data-item="history"] {
    background-color: #6ECC6C;
}
[data-status="active"] { 
    width: 197px;
    height: 50px;
    cursor: default;
}
.line {
    margin-top: 2px;
    height: 8px;
}