html {
    height: 100%;
}
body {
    height: 100%;
    background-color:turquoise;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p {  
}
.text {
    text-indent: 20px;
    text-align: justify;
    color:peru;
    /* white-space: nowrap; */
    overflow: scroll; 
    width: 350px; 
    height: 150px; 
    padding: 20px;
    margin: 50px;
    border-style: double hidden;
    border-color: darkgreen;
    background-color:wheat;
    /* outline: 10px solid white; */
}
/* .text:last-child {
    overflow-x: scroll; /* прокрутка по горизонтали */
    
