html {
    height: 100%;
}
body {
    height: 100%;
    background-color:#3B898A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p {  
}
.text {
    text-indent: 20px;
    text-align: justify;
    color:#D18F5E;
    /* white-space: nowrap; */
    overflow: scroll; 
    width: 440px; 
    height: 90px; 
    padding: 20px;
    margin: 30px;
    border-style: double hidden;
    border-color: #377D22;
    background-color:#F5F5DE;
    /* outline: 10px solid white; */
}
/* .text:last-child {
    overflow-x: scroll; /* прокрутка по горизонтали */
    
