html, body {
    height: 100%;
}
body {
    margin: 0px 33px 0px 33px;
    padding: 10px;
    line-height: 1.5;
    width: 80%;
}
.code {
    font-family:'Courier New', Courier, monospace;
    font-size: small;
    border: 1px solid #E6E6E5;
    background-color: #e5e1e1;
    border-radius: 5px;
    margin: 27px 0px 27px 0px; 
    padding: 5px;
    /* flex: 0 1 60%;  */
}
.scroll {
    overflow: scroll;
    white-space: nowrap;
}
b {
    font-weight: bold;
}
.green {
    color:#67AAAC;
}
.oblique {
    font-style: oblique;
    opacity: 0.6;
    color: #B3BECC;
}
