html, body {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    overflow: scroll;
    background-color: lightgray;
    max-width: 30%;
    text-align: justify;
}
.item {
    font-size: 20px;
    text-align: justify;
    color: darkblue;
    font-weight: 700;
    padding: 5px;
    border: 1px lightgray;
    margin: 10px;
   
}
