html, body {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    /* flex: 0.3; */
}
.item {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #4C688B;
    background-color: white;
    font-weight: 700;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 12px solid #F2F2F2;
    border-right: 12px solid #F2F2F2;
    text-decoration: none;
}
.item:hover {
    background-color: #4F76B5;
    color: #ffffff;
}