body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.number {
    font-size: 20px;
    border: 1px solid black;
    height: 40px;
    padding: 5px;
}
.wrong {
    border: 1px solid red;
}