body {
    display: flex;
    
    align-items: center;
    font-size: 20px;
    flex-direction: column;
}
.text, .text-area {
    font-size: 20px;
    border: 1px solid black;
    width: 375px;
    height: 500px;
    padding: 5px;
}
.text-area {
    display: none;
}
.container {
    display: flex;
    flex-direction: row;
}
.left.side {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.right.side {
    display: flex;
    flex-direction: column;
}
input {
    margin: 5px;
}
.mail {
    background: cornflowerblue;
    cursor: pointer;
}
.active {
    background-color: yellow;
}
.delete {
    padding: 0px 0px 0px 3px;
}
.unmarked {
    background-color: transparent;
}
#edit, #ok {
    margin: 7px;
}
#ok {
    display: none;
}
.delete-icon {
    cursor: pointer;
}