.image-galery-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: seashell;
    height: 100%;
}
.header {
    color: red;
    font-size: 40px;
    font-style: oblique;
    font-weight: 800;
    margin: 10px;
}
.image-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.image {
    width: auto;
    height: 70px;
    margin: 3px;
}
.image:hover {
    border: 1px solid yellow;
}
.image:active {
    border: 1px solid red;
}
.active {
    border: 2px solid red;
    height: 530px;
    width: auto;
}
.button {
    width: 60px;
    height: 20px;
    background-color: royalblue;
    color: white;
    margin: 5px;
}